.column {
  padding-bottom: 50px;
  padding-top: 150px;
}

.icon {
 padding-bottom: 30px;
}

.introImgLeft {
  padding-top: 20%;
}

.familyImg {
  padding: 10% 0% 60% 50%;
}



.footerHeading {
  color: grey;
}

.footerLink{
  color:  #300c3a;
}

.footerLink:hover {
  font-weight: bold;
  transition-duration: 0.1s;
}