#map { height: 500px;}

#patternDiv {
background-image: url('images/pattern-bg.png');
display: flex;
height: 200px;
flex-direction: column;
align-items: center;
z-index: 0;
position: relative;

}

#inputfield {
  padding-left: 5%;  
  border-radius: 10px 0% 0% 10px;
 
}



#searchbutton {
    height: 50px;
    width: 50px;
    
    background-color: black;

    background-repeat: no-repeat;
    border-radius: 0% 25% 25% 0%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
   margin-top: 38%;
  
}

#searchbutton:hover {
    opacity: 0.8;
}

#searchfield {
    display: flex;
}

#heading {
    color: white;
    font-family: Verdana, Tahoma, sans-serif;
}

#dataheading {
    display: flex;
   background-color:whitesmoke;
    justify-content: space-around;
    z-index: 1;
    position: absolute;
    width: 80%;
    top: 29%;
    left: 10%;
    border-radius: 1em / 1em;
    
}

#map{
    z-index: -1;
    position: relative;
}

.loctext{
    color: black;
    font-size: 150%;
    font-family: Verdana, Tahoma, sans-serif;
    
}

.subtitle {
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
}